header{
    display: flex;
    width: 800px;
    align-items: center;
    justify-content: center;
    background-color: #333333;
    color: white;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100px;
    padding: 10px; /* 내부 여백 */
    border-bottom: 1px solid #ccc; /* 하단 테두리 */

}

ul{
    display: flex;
    list-style: none

}

li{
    margin-left: 1rem;
}
li:hover{
    cursor: pointer;
    transform: scale(1.1);

}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    cursor: pointer;
    transform: scale(0.2);
    color: antiquewhite;
    transition: color 0.3s ease;
}
section{
    margin: 0 auto;
    background-color: #333333;
    width: 700px;
    height: 300px;
    color: white;
}

#section1{
    margin-top: 140px;
}